{% extends "base.html" %}

{% block content %}
  <h1>TODO list</h1>
  <a href="{% url 'task:task-create' %}"><button class="btn-primary">Add new task</button></a>
  {% if task_list %}
    <ul class="list-group">
      {% for task in task_list %}
        <li class="list-group-item"> <h4>{{ task.content }}</h4>
          <p>
            <a class="btn-info" href="{% url 'task:task-update' pk=task.id %}">Update</a>
            <a class="btn-danger" href="{% url 'task:task-delete' pk=task.id %}">Delete</a>
          </p>
          {% if task.task_is_done %}
            status: <p style="color: greenyellow">Done</p>
            {% else %}
            status: <p style="color: red">Not done</p>
          {% endif %}
          <p>Created: {{ task.created }}</p>
          <p>{% if task.deadline %}Deadline: {{ task.deadline }}{% endif %}</p>
          <p>
            Tags:
            {% if task.tags %}
              {% for tag in task.tags.all %}{{ tag }} {% endfor %}
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tasks</p>
  {% endif %}
{% endblock %}
